.menuIcon-outer {
  width: 3rem;
  height: 4rem;
  position: fixed;
  top: 0;
  right: 0;
  margin: 1rem;
  cursor: pointer;
  z-index: 5;
}

.menuIcon-line {
  border-radius: 10px;
  height: 7px;
  margin: 7px 0;
  transition: 0.4s cubic-bezier(0.68, -0.6, 0.32, 1.6);
}

.firstLine {
  width: 50%;
}

.secondLine {
  width: 100%;
}

.thirdLine {
  width: 75%;
}

.firstLine.checked {
  transform-origin: bottom;
  transform: rotatez(45deg) translate(6px, -2px);
}
.secondLine.checked {
  transform-origin: top;
  transform: rotatez(-45deg);
}
.thirdLine.checked {
  transform-origin: top;
  width: 50%;
  transform: translate(28px, -6px) rotatez(45deg);
}
